.button1 {
  box-sizing: border-box;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  -webkit-appearance: button;
  margin: 0 !important;
  background: 0 0;
  outline: 0 !important;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
}
